
$font_family_main: 'Montserrat', sans-serif;
$font_weigh_main: 400;
$font_size_main: 18px;
$font_color_main: #2C4058;

$font_weigh_title: 700;
$font_size_title: 44px;

$font_family_text: 'Open Sans', sans-serif;
$font_weigh_text: 400;
$font_size_text: 18px;
